<%= link_to "Sign In", new_user_session_path %>  <div class="row">
    <div class="large-12 columns">
      <div class="row">

    <!-- Content -->

        <div class="large-8 columns">
          <div class="panel radius">

          <div class="row">
          <div class="large-6 small-6 columns">

            <h4>Shareup</h4><hr/>
            <h5 class="subheader">Life is too short to <b>not</b> share.
            </h5>

          <div class="show-for-small" align="center">
            <a href="#" class="small radius button">Sign up today</a><br>

            <a href="#" class="small radius button">Login now</a>
          </div>

          </div>
          <div class="large-6 small-6 columns">

            <p>Share the latest articles with your friends and family. You know what they care about and you know what <b>they like</b>. <b>Shareup</b> gives you immediate, real-time feedback feel with incredible ease.
          </p>
        </div>

        </div>
        </div>
        </div>

        <div class="large-4 columns hide-for-small">

          <h4>Ready?</h4><hr/>

          <a href="/users/sign_up">
          <div class="panel radius callout" align="center">
            <strong>Sign up</strong>
          </div>
          </a>

          <a href="/users/sign_up">
          <div class="panel radius callout" align="center">
            <strong>Login now</strong>
          </div>
          </a>

        </div>
